Load the data.

In [ ]:
#importing numpy library
import numpy as np
data_file="/content/KAG_Conversion_Data.csv"
data=np.genfromtxt(data_file,delimiter=',',encoding=None,skip_header=1,dtype=str)
data1=np.genfromtxt(data_file,delimiter=",",dtype=float,skip_header=1)
print("Data:\n",data)

Data:
 [['708746' '916' '103916' ... '1.429999948' '2' '1']
 ['708749' '916' '103917' ... '1.820000023' '2' '0']
 ['708771' '916' '103920' ... '0' '1' '0']
 ...
 ['1314412' '1178' '179979' ... '40.28999949' '2' '0']
 ['1314414' '1178' '179981' ... '198.7100005' '8' '2']
 ['1314415' '1178' '179982' ... '165.6099987' '5' '2']]

In [ ]:
#Checking The Length of Data
len=data.size
print(len)

12573

How many unique ad campaigns (xyzcampaignid) does this data contain ? And for how many times was each campaign run ?

In [ ]:
#storing the unique ad id 
import numpy as np
x=data[:,1]
unique_id=np.unique(x)
print("Unique Ids: ",unique_id)
print("Total Unique Ids: ",unique_id.size)

Unique Ids:  ['1178' '916' '936']
Total Unique Ids:  3

In [ ]:
#number of times the campaign with id 916 run
impression = data[:,6]
sum=0
for i in unique_id:
  for j in x:
    if i==j:
      sum+=1
  print("This {} id run {} Times".format(i,sum))

This 1178 id run 625 Times
This 916 id run 679 Times
This 936 id run 1143 Times

What are the age groups that were targeted through these ad campaigns?

In [ ]:
age_groups=data[:,3]
print("Age Group Targeted: ",np.unique(age_groups))

Age Group Targeted:  ['30-34' '35-39' '40-44' '45-49']

What was the average, minimum and maximum amount spent on the ads?

In [ ]:
spent=data1[:,8]
print(spent)

[  1.42999995   1.82000002   0.         ...  40.28999949 198.7100005
 165.6099987 ]

In [ ]:
print("Minimum Amount Spent",np.min(spent))
print("Maximum Amount Spent",np.max(spent))

Minimum Amount Spent 0.0
Maximum Amount Spent 639.9499981

What is the id of the ad having the maximum number of clicks ?

In [ ]:
max_clicks=int(np.max(data1[:,7]))
max_clicks

421

In [ ]:
int(data1[:,0][data1[:,7]==421])

1121814

In [ ]:
int(data1[:,10][data1[:,7]==421])

13

How many people bought the product after seeing the ad with most clicks? Is that the maximum number of purchases in this dataset?

In [ ]:
max_purchase=np.max(data1[:,10])
max_purchase

21.0

So the ad with the most clicks didn't fetch the maximum number of purchases. Find the details of the product having maximum number of purchases

In [ ]:
data[data[:,10]=="21"]

array([['1121104', '1178', '144533', '30-34', 'M', '16', '2080666',
        '202', '360.1500015', '40', '21']], dtype='<U11')